[submodule "angular.js"]
	path = angular.js
	url = git@github.com:cinema6/angular.js.git
[submodule "ui-router"]
	path = ui-router
	url = git@github.com:cinema6/ui-router.git
[submodule "hammer.js"]
	path = hammer.js
	url = git@github.com:cinema6/hammer.js.git
[submodule "GreenSock-JS"]
	path = GreenSock-JS
	url = git@github.com:cinema6/GreenSock-JS.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:cinema6/jquery.git
